@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
  font-family: 'Open Sans', sans-serif;
}

.body{
    background-color: #fff;
  }
 
  
  #btn-menu{
    display: none;
  }
  
  .container-menu{
    position: absolute;
    background: rgb(255, 153, 0);
    top: 0;left: 0;
    transition: all 600ms ease;
    opacity: 0;
    visibility: hidden;
    
  }
  
  #btn-menu:checked ~ .container-menu{
    opacity: 1;
    visibility: visible;
  }
  
  
  .cont-menu{
    max-width: 250px;
    background: #ff9900;
    height: 100vh;
    position: relative;
    transition: all 600ms ease;
    transform: translateX(-100%);
    z-index: 2;
  
  }
  
  #btn-menu:checked ~ .container-menu .cont-menu{
    transform: translateX(0%);
  }
  
  .cont-menu nav{
    transform: translateY(15%);
  }
  
  .cont-menu nav a{
    display: block;
    text-decoration: none;
    padding: 20px;
    color: #fffefe;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
  }
  
  .cont-menu nav a:hover{
    border-left: 5px solid #000000;
    background: rgba(0, 0, 0, 0.356);
  }
  
  .cont-menu label{
    position: absolute;
    right: 5px;
    top: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
  }
  
  
  h3, img{
    display: inline-block;
  }